* {
  margin: 0px;
}
#navbar {
  width: 100%;
  height: 50px;
  background-color: beige;
}
#section1 {
  width: 100%;
  height: 200px;
  background-color: rgb(142, 142, 171);
}
#section2 {
  width: 100%;
  height: 150px;
  background-color: rgb(89, 91, 62);
}
#section3 {
  width: 100%;
  height: 150px;
  background-color: mediumpurple;
}
#footer {
  width: 100%;
  height: 150px;
  background-color: aquamarine;
}
#navbar {
  line-height: 50px;
}

