body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 30px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

button {
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #219150;
}

hr {
    margin: 20px 0;
}

